*{margin: 0;
    margin-right: 0px;
}

header,main,footer{width: 100%;
}

h1{font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    width: 100%;
    background-color: rgba(108, 154, 185, 0.877);
    text-align: center;
    padding:1rem 1rem ;
    color: rgb(55, 55, 121); 
    font-weight: 900;}

nav{width:100%;
    display: flex;
    justify-content: center;
    gap:2rem;
    background-color:rgb(189, 167, 158) ;
    margin: 0px;
}

nav a{text-decoration: none;
    padding: 0.6rem;
}

nav a:hover{background-color: white;
}

sections{display: flex;
    justify-content: space-around;
    margin:2rem ;
    gap: 2rem;
} 

img{border-radius:20% ;
    width: 25rem;
    width: 40%;
    height:80% ;
}
.buton{margin: 2rem;
    margin-top: 0rem;}

.p1{font-size: 1.5rem;
    margin-left: 5rem;
    font-weight: 600;
}

h2{text-decoration: underline;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(5, 5, 248);
    margin-left: 3rem;
    }

.boutton1{background-color: rgba(202, 202, 204, 0.938);
    border-radius: 0.4rem;
    border: none;
    padding:0.2rem 0.9rem 0.2rem 0.9rem ;
    margin-left: 5rem;
    font-weight: 100;
    }

a button{background-color:rgb(172, 113, 92) ;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left:2rem;
    font-weight: 600;}

.boutton1:hover{box-shadow: 0.2rem 0.2rem 0.3rem;}
button:hover{box-shadow: 0.3rem 0.3rem 0.5rem rgb(70, 63, 63);
             border: 1px solid black;}

boutton1:active{border:1px solid rgb(29, 2, 2);}
button:active{border: none;}

.description{clip-path: polygon(0 5%, 75% 0%, 100% 50%, 81% 100%, 1% 89%);
    background-color: rgba(144, 144, 199, 0.486);
    padding: 2rem;
    margin: 2rem;
    margin-bottom:1rem ;
    }
footer{width: 100%;
    background-color: rgba(159, 203, 233, 0.877);
    padding: 2.5rem;
    margin-top: 0%;
}

.footer-socials{display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer-socials a{color:white;
}

.footer-socials a:hover{color: blue;

}

main{ display: flex;   
    flex-direction: column;
    position: relative;
    margin-bottom:  0%;
    padding-top:3rem ;
    padding-bottom: 0%;
}

main::before{content:" ";
    background-image: url('images/artur-shamsutdinov-7MJpHQdGXGA-unsplash\ \(2\).jpg');
    position: absolute;
    background-position: center;
    background-size: contain;
    opacity:90% ;
    z-index: -1;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}




@media (max-width: 600px) {
    sections {
        flex-direction: column; 
        margin: 1rem;           
    }

    nav {
        flex-direction: column; 
        gap: 0.5rem;         
        align-items: center;    
    }
    
    .p1, h2, .boutton1 {
        margin-left: 1rem; 
    }
    footer{display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 1024px) {
    section, .sections {
        flex-direction: column;
        margin: 1rem; 
    }

    img {
        width: 100%;    
        max-width: 400px;  
        margin: 0 auto;  
        display: block;    
    }

    .p1, h2, .boutton1 {
        margin-left: 1rem;
    }
    footer{display: flex;
        flex-direction: row;
        gap: 1.6rem;
        justify-content: center;
        align-items: center;
    }
}





    





