*{margin:0px;
}

nav{width:100%;
    display: flex;
    justify-content: center;
    gap:2rem;
    background-color:rgb(189, 167, 158) ;
    margin: 0px;
}

nav a{text-decoration: none;
    padding: 0.6rem;
}

nav a:hover{background-color: white;
}

main{ display: flex;   
    flex-direction: column;
    position: relative;
    margin: 0%;
    padding-top:3rem ;
}

main::before{content:" ";
    background-image: url('images/pexels-cottonbro-5474036.jpg');
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity:100% ;
    z-index: -1;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.presentation{text-align: start;
    color:whitesmoke;
    font-weight: 900;
    font-size:1.2rem  ;
    margin-left: 4rem;
}

h2{color: rgb(48, 40, 78);
    text-align: center;}

.texte p{margin: 1rem;}

.article{display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem;}

article {background-color:rgba(189, 167, 158, 0.719) ;
padding: 1.5rem;
border-radius: 40%;}

article p{color: white;
    font-weight: 700;
    margin-left: 1rem;}
h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(18, 18, 82);
    text-align: center;
    margin: 0.4rem;
    font-weight: 800;}

footer{width: 100%;
    background-color:rgb(189, 167, 158) ;
    padding: 2.5rem;
    margin: 0%;
}

.footer-socials{display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer-socials a{color:white;
}

.footer-socials a:hover{color: blue;
}




