*{margin:0px;
}

nav{width:100%;
    display: flex;
    justify-content: center;
    gap:2rem;
    background-color:rgb(189, 167, 158) ;
    margin: 0px;
}

nav a{text-decoration: none;
    padding: 0.6rem;
}

nav a:hover{background-color: white;
}
main{gap:2rem;}

.presentation{border-bottom: 2px solid black;
    padding: 3rem;}

/*main{display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    border-bottom: 2px solid red;
    background-color: rgb(13, 13, 44);
    color: aliceblue;}
*/

h2,h3{text-align: center;
    margin-bottom: 1rem;
    color: rgb(109, 109, 231);}


article{width: 100%;
    margin-left: 7rem;}

span{color: rgb(196, 141, 22);
    font-weight: 800;
    font-size: 1.5rem;
}

main{ display: flex;   
    flex-direction: column;
    position: relative;
    margin-bottom:  0%;
    padding-top:3rem ;
    padding-bottom: 0%;
    justify-content: center;
    gap: 3rem;
    border-bottom: 2px solid red;
    background-color: rgb(13, 13, 44);
    color: aliceblue;
}


main::before{content:" ";
    background-image: url('images/pexels-brett-saiyles-3803517.jpg');
    position: absolute;
    background-position: center;
    background-size: contain;
    opacity:60% ;
    z-index: -1;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

footer{width: 100%;
    background-color:rgb(189, 167, 158) ;
    padding: 2.5rem;
    margin: 0%;
}

.footer-socials{display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer-socials a{color:white;
}

.footer-socials a:hover{color: blue;
}
