*{margin:0px;
}

nav{width:100%;
    display: flex;
    justify-content: center;
    gap:2rem;
    background-color:rgb(189, 167, 158) ;
    margin: 0px;
}

nav a{text-decoration: none;
    padding: 0.6rem;
}

nav a:hover{background-color: white;}

/*main{background-color: rgba(9, 9, 31, 0.884);
    color: white;
    padding: 5rem;
    background-image: url('pexels-ofspace-16323580.jpg');
    background-size:contain;
    }
*/
main{ display: flex;   
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(236, 28, 28);
    position: relative;
    margin-bottom:  0%;
    padding:5rem ;
    padding-bottom: 0%;
}


main::before{content:" ";
    background-image: url('images/pexels-ofspace-16323580.jpg');
    position: absolute;
    background-position: center;
    background-size: contain;
    opacity:90% ;
    z-index: -1;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

section{
    border-bottom:  1px solid rgb(201, 12, 12);
}

h2{color: rgb(5, 255, 234);
margin-bottom: 1rem;
font-weight: 900;
font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{color: rgb(78, 6, 6);
    font-weight: 900;
    margin-top:0.5rem; 
    font-family: 'Times New Roman', Times, serif;
}

p,li{color:rgb(255, 255, 255);
    font-weight:1000;
    font-size: 1rem;
}










footer{width: 100%;
    background-color:rgb(189, 167, 158) ;
    padding: 2.5rem;
    margin: 0%;

}

.footer-socials{display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer-socials a{color:white;
}

.footer-socials a:hover{color: blue;
}
